:root {
    --rojo: #E50914;
    --fondo: #141414;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--fondo);
    font-family: 'Open Sans', sans-serif;
    color: antiquewhite;
}

.contenedor {
    width: 90%;
    margin: auto;
}

header {
    padding: 10px 0;
}

header .contenedor {
    display: flex;
    /*justify-content: space-between; */
    align-items: center;
}
.logotipo {
    font-family: 'Bebas Neue', cursive;
    font-weight: normal;
    color: var(--rojo);
    font-size: 80px;
}
